@font-face {
  font-family: Nurom-Regular;
  src: local(Nurom-Regular),
    url("../fonts/FontsFree-Net-Nurom-Bold") format("opentype");
}
@font-face {
  font-family: Nurom-Bold;
  src: local(Nurom-Bold),
    url("../fonts/FontsFree-Net-Nurom-Bold") format("truetype");
}
@font-face {
  font-family: Nurom-Medium;
  src: local(Nurom-Medium),
    url("../fonts/FontsFree-Net-Nurom-Bold") format("opentype");
}
@font-face {
  font-family: JustMeAgainDownHere;
  src: local(JustMeAgainDownHere),
    url("../fonts/FontsFree-Net-Nurom-Bold") format("truetype");
}

/* All common codes for desktop and mobile version */

html {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #0d0d0d;
}
/* body.rev-page {
	background: #0a0a0a;
} */

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

a {
  cursor: pointer;
}
a:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
  text-decoration: none;
}
img {
  display: block;
}
.btn-border {
  font: 18px / 27px GothamPro-Medium;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(#db00ff, #00c2ff) padding-box,
    linear-gradient(to right, #db00ff, #00c2ff) border-box;
  border: 2px solid transparent;
  border-radius: 2px;
}
.btn-border span {
  display: block;
  background: #0d0d0d;
  width: 100%;
  height: 100%;
  padding: 10px 12px 9px 12px;
}
.btn-border:hover,
.btn-border:focus {
  text-decoration: none;
  color: #fff;
}

/* Menu css */

.top-menu {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 20px;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  background: rgba(13, 13, 13, 0.7);
  backdrop-filter: saturate(180%) blur(10px);
}
.top-menu.visible {
  opacity: 1;
}
.top-menu .logo-wrapper {
  display: flex;
}
.top-menu .logo {
  display: block;
  height: 70px;
}
.top-menu .top-menu-inner {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.navbar-toggler {
  display: none;
}
.top-menu-inner > a {
  display: block;
  padding: 4px 5px;
  margin-left: 15px;
  color: #fff;
  font: 12px / 14px "Sansation Regular", arial;
  transition: all 0.3s ease-in;
  text-transform: uppercase;
  position: relative;
}
.top-menu-inner a svg {
  display: block;
  width: 15px;
  height: 14px;
}
.top-menu-inner > a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #db00ff;
  transform: translateX(-50%);
  transition: all 0.3s ease-in;
}
.top-menu-inner > a:hover::after,
.top-menu-inner > a:focus::after {
  width: calc(100% - 10px);
}
.top-menu-inner > a:hover,
.top-menu-inner > a:focus {
  color: #db00ff;
  text-decoration: none;
}
.top-menu-inner .social-icons svg path {
  transition: all 0.3s ease-in;
}
.top-menu-inner .social-icons svg stop {
  transition: all 0.3s ease-in;
}
/* .top-menu-inner .social-icons:hover svg path,
.top-menu-inner .social-icons:focus svg path {
	fill: #db00ff;
} */
.top-menu-inner .social-icons:hover svg stop,
.top-menu-inner .social-icons:focus svg stop {
  stop-color: #db00ff;
}
.top-menu-inner .social-icons span {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hide-onload {
    visibility: hidden;
  }
  .top-menu-inner {
    padding-top: 0 !important;
  }
}

@media only screen and (min-width: 1500px) {
  .top-menu {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .top-menu-inner > a {
    margin-left: 4px;
    font-size: 11px;
  }
}

@media only screen and (max-width: 767px) {
  .top-menu.visible {
    opacity: 1;
    padding: 25px 15px 15px 15px;
    /* background: #0d0d0d; */
    background: rgba(13, 13, 13, 0.8);
    backdrop-filter: saturate(180%) blur(10px);
    align-items: flex-start;
    justify-content: space-between;
    min-height: 110px;
  }
  .top-menu .dropdown .btn {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: saturate(180%) blur(10px);
  }
  .top-menu .dropdown-menu {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: saturate(180%) blur(10px);
  }
  .top-menu .discord-btn span {
    padding: 0;
  }
  .top-menu .discord-btn img {
    height: 38px;
  }
  .top-menu .opensea-btn {
    margin-right: 10px;
  }

  body.hide-scroll {
    overflow: hidden;
  }
  .top-menu .logo-wrapper {
    /* position: relative; */
    position: absolute;
    left: 20px;
    top: 0;
    padding: 25px 10px 10px 0;
    z-index: 2;
  }
  .top-menu.menu-open .logo-wrapper {
    background: rgba(13, 13, 13, 1);
  }
  .top-menu .top-menu-inner {
    position: absolute;
    left: 0;
    flex-direction: column;
    right: 0;
    top: 0;
    height: 100%;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in;
  }
  .top-menu .top-menu-inner.show-div {
    display: block;
  }
  .top-menu .top-menu-inner.show-content {
    opacity: 1;
    visibility: visible;
    background: rgba(13, 13, 13, 1);
  }
  .top-menu-inner > a {
    font-size: 18px;
    line-height: 26px;
    padding: 10px 0px;
    width: 100%;
    margin-left: 0;
    margin-bottom: 14px;
    border-bottom: 1px solid #232323;
  }
  .top-menu-inner > a::after {
    left: 0;
    transform: translateX(0);
  }
  .top-menu-inner > a:hover::after,
  .top-menu-inner > a:focus::after {
    width: 100%;
  }
  .top-menu-inner > a:first-child {
    margin-top: 50px;
  }
  .top-menu-inner > a:last-child {
    border-bottom: none;
  }
  .top-menu-inner .social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top-menu-inner .social-icons span {
    display: block;
  }
  .top-menu-inner .social-icons svg {
    width: 22px;
    height: 22px;
  }

  .navbar-toggler {
    border: none;
    padding: 10px 12px;
    position: absolute;
    top: 40px;
    right: 8px;
    z-index: 2;
    display: block;
  }
  .navbar-toggler svg {
    display: block;
    overflow: visible;
    width: 30px;
    height: 20px;
  }
  .navbar-toggler.closed-menu svg .top {
    transform: rotateZ(0deg);
    transition: all 0.2s ease-in;
  }
  .navbar-toggler.closed-menu svg .middle {
    opacity: 1;
    transition: all 0.1s ease-in;
  }
  .navbar-toggler.closed-menu svg .bottom {
    transform: rotateZ(0deg);
    transition: all 0.2s ease-in;
  }
  .navbar-toggler svg .top {
    transition: all 0.2s ease-in;
    transform: rotateZ(45deg) translateY(6px);
    transform-origin: 50% 50%;
  }
  .navbar-toggler svg .middle {
    opacity: 0;
    transition: all 0.1s ease-in;
  }
  .navbar-toggler svg .bottom {
    transition: all 0.2s ease-in;
    transform: rotateZ(-45deg) translateY(-6px);
    transform-origin: 50% 50%;
  }
}

/* Footer css */

.footer > .container {
  max-width: 100%;
}
.footer-inner {
  border-top: 1px solid #3c3c3c;
  padding: 50px 0 0px 0;
  display: flex;
  justify-content: space-between;
}
.footer-inner .left {
  flex-grow: 1;
  width: 100%;
  max-width: 390px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-inner .right {
  flex-shrink: 0;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-inner .right > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer h3 {
  color: #e9e9e9;
  font: 24px / 31px GothamPro-Medium;
  margin: 0 0 15px 0;
}
.footer .discord-join {
  font: 18px / 27px GothamPro-Medium;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(#db00ff, #00c2ff) padding-box,
    linear-gradient(to right, #db00ff, #00c2ff) border-box;
  border: 2px solid transparent;
  border-radius: 2px;
  margin-bottom: 57px;
  display: flex;
}
.footer .discord-join span {
  display: block;
  background: #0d0d0d;
  width: 100%;
  height: 100%;
  padding: 10px 12px 9px 12px;
}
.footer .discord-join:hover,
.footer .discord-join:focus {
  text-decoration: none;
}
.footer p {
  color: #636363;
  margin: 0 0 90px 0;
  font: 16px / 26px GothamPro-Regular;
}
.footer p.copy {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 23px;
}
.footer p.copy a {
  text-decoration: none;
  color: #00c2ff;
  position: relative;
}
.footer p.copy a::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #00c2ff;
  transition: all 0.3s ease-in;
}
.footer p.copy a:hover,
.footer p.copy a:focus {
  text-decoration: none;
  color: #00c2ff;
}
.footer p.copy a:hover::after,
.footer p.copy a:focus::after {
  width: 100%;
}
.footer h5 {
  color: #e9e9e9;
  margin: 0 0 15px 0;
  font: 22px / 26px GothamPro-Medium;
}
.footer .social-box-f {
  display: flex;
  margin: 0px 0 70px 0;
}
.footer .social-box-f a {
  margin-right: 20px;
  width: 51px;
  height: 45px;
  border: 1px solid #aaaaaa;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .social-box-f a:last-child {
  margin-right: 0;
}
.footer .social-box-f a svg {
  display: block;
}
.footer .book-link {
  text-decoration: none;
  margin-bottom: 95px;
  font: 16px / 21px GothamPro-Regular;
  color: #00c2ff;
  display: flex;
  align-items: center;
  background: linear-gradient(to top right, #db00ff, #00c2ff);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.footer .book-link > span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .book-link .line {
  width: 100%;
  display: block;
  height: 1px;
  background: linear-gradient(to top right, #db00ff, #00c2ff);
}
.footer .book-link img {
  flex-shrink: 0;
  margin-left: 12px;
}
.footer .book-link img.footer-download {
  margin-left: 0;
}
.footer .book-link:hover,
.footer .book-link:focus {
  text-decoration: none;
  color: #00c2ff;
}
.footer-logo {
  height: 100px;
}

@media only screen and (min-width: 1300px) {
  .footer-inner .left {
    max-width: 49%;
    flex-direction: row;
    align-items: flex-start;
  }
  .footer-inner .left > div {
    flex-shrink: 0;
    margin-right: 10%;
  }
  .footer-inner .right {
    max-width: 49%;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .footer-inner .right > div {
    width: auto;
    flex-shrink: 0;
  }
  .footer-inner .right > div:first-child {
    margin-left: 10%;
  }
}

@media only screen and (min-width: 1500px) {
  .footer {
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media only screen and (min-width: 768px) {
  .hide-onload {
    visibility: hidden;
  }
  .footer .discord-join {
    font-size: 14px;
    line-height: 15px;
  }
  .footer .social-box-f a {
    width: 42px;
    height: 38px;
  }
  .footer .social-box-f a svg {
    width: 18px;
  }
}

@media only screen and (max-width: 767px) {
  .footer {
    padding-bottom: 26px;
  }
  .footer-inner {
    flex-direction: column;
  }
  .footer-inner .left {
    max-width: 100%;
    padding: 0;
  }
  .footer-inner .right {
    max-width: 100%;
    align-items: flex-start;
  }
  .footer-inner .right > div {
    align-items: flex-start;
  }
  .footer p.copy {
    text-align: center;
  }
  .footer p {
    font-size: 18px;
  }
  .footer .book-link {
    font-size: 18px;
  }
}

/* Modals CSS */

.modal {
  background: rgba(13, 13, 13, 0.95);
  z-index: 99999;
}
.modal-content {
  background: #0d0d0d;
}
.modal-body {
  padding: 25px 20px;
}
.modal .close {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 25px;
  height: 25px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffe500;
  font: 14px / 15px GothamPro-Regular;
  border: 1px solid #ffe500;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.modal .close span {
  transition: all 0.3s ease-out;
}
.modal .close:hover,
.modal .close:focus {
  opacity: 1 !important;
}
.modal .close:hover span,
.modal .close:focus span {
  transform: rotate(180deg);
}

.modal h1 {
  margin: 0;
  color: #d7d7d7;
  text-align: center;
  font: 32px / 46px GothamPro-Medium;
}
.modal h3 {
  margin: 0;
  text-align: center;
  color: #d7d7d7;
  font: 18px / 20px GothamPro-Regular;
}
.modal .modal-box {
  padding: 21px 30px 22px 30px;
  margin: 30px auto 20px auto;
  width: 100%;
  max-width: 400px;
  /* background: url(../images/box1s.svg) center center / 100% 100% no-repeat; */
  position: relative;
}
.modal .modal-box p {
  margin: 0;
  color: #d7d7d7;
  font: 16px / 26px GothamPro-Regular;
  position: relative;
  z-index: 5;
}
.modal .modal-box .phase-border {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #ffe600;
  z-index: 1;
  -webkit-clip-path: polygon(45px 0, 100% 0%, 100% 100%, 0% 100%, 0 45px);
  clip-path: polygon(45px 0, 100% 0%, 100% 100%, 0% 100%, 0 45px);
}
.modal .modal-box .corner-img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

@media only screen and (max-width: 767px) {
  .modal .close {
    right: 0;
  }
}

/* Team Page CSS */
.team-section {
  padding: 8em 0 0 0;
  font-family: "Sansation Regular", arial !important;
}
.team-section .team-row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-section .team-box {
  flex-shrink: 0;
  width: 100%;
  max-width: 255px;
  margin: 0 15px 100px 15px;
  padding: 30px;
}
.team-section .team-img-wrapper {
  position: relative;
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  margin: 0 auto 24px auto;
}
.team-section .team-img-wrapper .profile-img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
}
.team-section .social-link {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}
.team-section .social-link img {
  display: block;
  width: 39px;
}
.team-section .social-link.with-gradient {
  background: linear-gradient(
    45deg,
    rgba(0, 194, 255, 1) 0%,
    rgba(219, 0, 255, 1) 100%
  );
  padding: 5px;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-section .social-link.with-gradient img {
  display: block;
  max-width: 20px;
}
.team-section .team-box.large {
  max-width: 390px;
  margin-bottom: 120px;
  padding: 30px;
}
.team-section .team-box.large .team-img-wrapper {
  max-width: 276px;
}
.team-section .team-box.large .social-link {
  bottom: 20px;
}

.team-section h2 {
  text-align: center;
  color: #ffe500;
  margin: 0;
  text-transform: uppercase;
  font: 20px / 29px;
}
.team-section h4 {
  letter-spacing: 0.03em;
  color: #db00ff;
  text-align: center;
  margin: 0 0 5px 0;
  font: 30px / 38px;
}
.team-section p {
  margin: 0;
  text-align: center;
  color: #c1c1c1;
  font: 16px / 23px;
}
.team-section .large h2 {
  font: 22px / 32px;
}
.team-section .large h4 {
  font: 32px / 40px;
  margin-bottom: 10px;
}
.team-section .large p {
  max-width: 343px;
  margin: 0 auto;
}

.team-section .team-row.small {
  margin-left: -20px;
  margin-right: -20px;
}
.team-section .team-row.small .team-box {
  max-width: 270px;
  margin: 0 20px 70px 20px;
}
.team-section h1 {
  color: #c1c1c1;
  text-align: center;
  margin: 0 0 75px 0;
  font: 32px / 46px;
}
.team-section h3 {
  margin: 0 0 10px 0;
  color: #ffe500;
  text-transform: uppercase;
  font: 20px / 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-section h3 a {
  margin-left: 10px;
}
.team-section h3 a.with-gradient {
  background: linear-gradient(
    45deg,
    rgba(0, 194, 255, 1) 0%,
    rgba(219, 0, 255, 1) 100%
  );
  padding: 3px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-section h3 img {
  width: 20px;
  display: block;
}
.team-section h3 a.with-gradient img {
  width: 12px;
}
.team-section .team-row.small p {
  text-align: center;
}
.team-section .team-box .btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.team-section .team-box.large .btn-wrapper {
  margin-top: 20px;
}
.team-section .btn-more-info {
  padding: 0px;
  border: 1px solid transparent;
  border-radius: 62px;
  color: #fff;
  font: 13px / 20px;
  background: linear-gradient(#00c2ff, #db00ff) padding-box,
    linear-gradient(to right, #00c2ff, #db00ff) border-box;
  transition: all 0.3s ease-in;
}
.team-section .btn-more-info:hover,
.team-section .btn-more-info:focus,
.team-section .btn-more-info:active {
  text-decoration: none;
  color: #fff;
  transform: scale(1.05);
}
.team-section .btn-more-info span {
  display: block;
  padding: 10px 30px;
  background: #0d0d0d;
  border-radius: 63px;
}

@media only screen and (max-width: 767px) {
  .team-section .team-box {
    margin-bottom: 45px;
  }
  .team-section .team-row.small {
    margin-left: -15px;
    margin-right: -15px;
  }
  .team-section .team-row.middle .team-box {
    width: calc(50% - 30px);
  }
  .team-section .team-img-wrapper {
    margin-bottom: 15px;
  }
  .team-section h1 {
    margin-top: 95px;
  }
  .team-section h2 {
    font-size: 14px;
    line-height: 20px;
  }
  .team-section h4 {
    font-size: 20px;
    line-height: 28px;
  }
  .team-section p {
    font-size: 14px;
    line-height: 20px;
  }
  .team-section p br {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
  .team-section .team-box.large {
    padding: 0 15px;
  }
}

/* Mint Row CSS */
.mint-row {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  background: rgba(13, 13, 13, 0.7);
  backdrop-filter: saturate(180%) blur(10px);
  z-index: 1000;
}
.mint-row .mint-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.mint-row .left {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 20px;
}
.mint-row .left .mint-mobile {
  display: block;
  max-width: 304px;
}
.mint-row h4 {
  margin: 0 10px 0 0;
  color: #ffe500;
  font: 21px / 20px "Bebas Neue", cursive;
}
.mint-row h1 {
  margin: 0;
  color: #ffe500;
  letter-spacing: -0.02em;
  font: 56px / 84px "Bebas Neue", cursive;
}
.mint-row .right-outer {
  border: 1px solid rgba(192, 192, 192, 0.2);
  border-radius: 5px;
  background: #0d0d0d;
  /* background: linear-gradient(to top right, #db00ff, #00c2ff) padding-box,
		linear-gradient(to top right, #db00ff, #00c2ff) border-box; */
}
.mint-row .right {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* background: #161616; */
  padding: 15px 140px 18px 20px;
  position: relative;
}
.mint-row .right .mint-avatars {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 117px;
}
.mint-row .right h5 {
  margin: 0 0 3px 0;
  color: #ffe500;
  font: 12px / 18px GothamPro-Bold;
}
.mint-row .btn-mint {
  flex-shrink: 0;
  /* min-width: 225px; */
  padding: 6px 15px;
  border-radius: 2px;
  background: #ff00e5;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font: 16px / 24px GothamPro-Bold;
  /* margin-left: 22px; */
  text-transform: uppercase;
}
.mint-row .btn-mint .icon {
  width: 20px;
  margin-right: 12px;
}
.mint-row .countdown {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
}
.mint-row .countdown > div {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  align-items: center;
  min-width: 40px;
}
.mint-row .countdown > div:last-child {
  margin-right: 0;
}
.mint-row .countdown h3 {
  margin: 0;
  color: #ffe500;
  font: 47px / 42px "Bebas Neue", cursive;
}
.mint-row .countdown p {
  margin: 0 0 4px 0;
  color: #c0c0c0;
  font: 12px / 5px GothamPro-Regular;
}

@media only screen and (min-width: 1500px) {
  .mint-row {
    padding-left: 90px;
    padding-right: 90px;
  }
}

/* Character section */

.character-section {
  height: 100vh;
  padding: 100px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.character-section .character-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.character-section .character-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  min-height: 0;
}

/* Home About section */

.home-about {
  width: 100%;
  padding: 90px 20px 160px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-about h1 {
  flex-shrink: 0;
  margin: 0 0 22px 0;
  color: #ffe600;
  text-align: center;
  font: 32px / 46px GothamPro-Medium;
}
.home-about p {
  flex-shrink: 0;
  margin: 0 auto;
  color: #c0c0c0;
  text-align: center;
  max-width: 682px;
  font: 20px / 29px GothamPro-Regular;
  text-transform: uppercase;
}
.home-about p b {
  font-family: GothamPro-Regular;
  color: #fff;
}
.home-about .btn-border {
  flex-shrink: 0;
  margin-top: 55px;
}
.home-about .btn-border span {
  background: #ff0000;
}

/* Gallery Title Image */

.gallery-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-wrapper .gallery-img {
  max-width: 100%;
  max-height: 100%;
}

.discord-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

/* Gallery Avatar images */

.gallery-avatar-wrapper {
  margin-top: 115px;
  overflow: hidden;
  position: relative;
}
.gallery-avatar-wrapper .gallery-row {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}
.gallery-avatar-wrapper .gallery-row.second {
  transform: translateX(-10%);
}
.gallery-avatar-wrapper .gallery-row > img {
  flex-shrink: 0;
  width: 20%;
  border: 1px solid #0d0d0d;
}
.gallery-avatar-wrapper .gallery-overlay {
  width: 100%;
  height: 203px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, #0d0d0d 100%);
  z-index: 5;
}

@media only screen and (min-width: 1930px) {
  .gallery-avatar-wrapper .gallery-row {
    justify-content: center;
  }
  .gallery-avatar-wrapper .gallery-row.second {
    transform: translateX(0);
  }
  .gallery-avatar-wrapper .gallery-row > img {
    max-width: 302px;
  }
}

/* Journey Page CSS */

.journey-section {
  position: relative;
  padding: 0 20px;
  min-height: 850px;
}
.journey-section .journey-block {
  opacity: 0;
  transition: all 0.3s ease-in;
}
.journey-section .journey-block.visible-now {
  opacity: 1;
}
.journey-section .journey-top-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 825px;
  z-index: 1;
  background: linear-gradient(88.69deg, #520060 0.62%, #005f7d 99.45%), #0d0d0d;
}
.journey-section .journey-top-bg .gradient-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 43%;
  background: linear-gradient(180deg, rgba(13, 13, 13, 0) 10.14%, #0d0d0d 100%);
}
.journey-section .journey-bottom-bg {
  background: linear-gradient(88.69deg, #520060 0.62%, #005f7d 99.45%), #0d0d0d;
  position: absolute;
  left: 0;
  width: 100%;
  height: 825px;
  z-index: 1;
}
.journey-section .journey-bottom-bg .gradient-top {
  background: linear-gradient(0deg, rgba(13, 13, 13, 0) 10.14%, #0d0d0d 100%);
  position: absolute;
  left: 0;
  top: 0;
  height: 43%;
  width: 100%;
  max-height: 355px;
}
.journey-section .journey-bottom-bg .gradient-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 43%;
  background: linear-gradient(180deg, rgba(13, 13, 13, 0) 10.14%, #0d0d0d 100%);
  max-height: 355px;
}
.journey-banner {
  padding: 111px 0 40px 0;
  max-width: 850px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.journey-banner h1 {
  text-align: center;
  margin: 0 0 3px 0;
  font: 86px / 129px "Bebas Neue";
  color: #b026ff;
}
.journey-banner h2 {
  text-align: center;
  color: #fff;
  transform: matrix(0.98, 0, -0.18, 1, 0, 0);
  margin: 0 0 5px 0;
  font: 56px / 67px GothamPro-Bold;
}
.journey-banner h4 {
  text-align: center;
  color: #00ffff;
  margin: 0;
  transform: rotate(-4deg);
  font: 32px / 46px JustMeAgainDownHere;
}
.journey-roadmap {
  padding: 89px 0 0px 0;
  position: relative;
  margin-bottom: 70px;
  z-index: 2;
}
.journey-roadmap .round-v-line {
  position: absolute;
  top: 83px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: calc(100% - 109px);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 30px;
}
.journey-roadmap .stage-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 75px;
  width: 183px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.journey-roadmap .stage-box.red-bg {
  background: url(../images/roadmap/stage-bg-red.png) center center / 100% 100%
    no-repeat;
}
.journey-roadmap .stage-box.grey-bg {
  background: url(../images/roadmap/stage-bg-grey.png) center center / 100% 100%
    no-repeat;
}
.journey-roadmap .stage-box p {
  margin: 0;
  font: 28px / 29px GothamPro-Bold;
}
.journey-roadmap .stage-box.red-bg p {
  color: #fff;
}
.journey-roadmap .stage-box.grey-bg p {
  color: #838383;
}
.journey-roadmap .stage-1 {
  top: 0;
}
.journey-roadmap .journey-row {
  display: flex;
}
.journey-roadmap .box {
  flex: 1;
  position: relative;
}
.journey-roadmap .has-content {
  padding-bottom: 20px;
}
.journey-roadmap .left {
  padding-right: 65px;
  text-align: right;
}
.journey-roadmap .right {
  padding-left: 65px;
}
.journey-roadmap .circle {
  position: absolute;
  top: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 6px solid #a3a2a2;
  background: #333;
  z-index: 3;
}
.journey-roadmap .completed .circle {
  background: #01d2ff;
  border-color: #01d2ff;
}
.journey-roadmap .ongoing .circle {
  background: #333;
  border-color: #01d2ff;
}
.journey-roadmap .left .circle {
  right: -13px;
}
.journey-roadmap .right .circle {
  left: -13px;
}
.journey-roadmap .v-line {
  position: absolute;
  top: 15px;
  width: 6px;
  height: 100%;
  background: #a3a2a2;
}
.journey-roadmap .completed .v-line {
  background: #01d2ff;
}
.journey-roadmap .ongoing .v-line {
  background: linear-gradient(
    to bottom,
    #01d2ff 0%,
    #01d2ff 50%,
    #a3a2a2 50%,
    #a3a2a2 100%
  );
}
.journey-roadmap .left .v-line {
  right: -3px;
}
.journey-roadmap .right .v-line {
  left: -3px;
}
.journey-roadmap .h-line {
  position: absolute;
  top: 15px;
  width: 44px;
  height: 1px;
  background: #a3a2a2;
  z-index: 2;
}
.journey-roadmap .left .h-line {
  right: 0;
}
.journey-roadmap .right .h-line {
  left: 0;
}
.journey-roadmap .completed .h-line,
.journey-roadmap .ongoing .h-line {
  background: #01d2ff;
}
.journey-roadmap .box h3 {
  margin: 0 0 10px 0;
  color: #fff;
  font: 36px / 36px "Bebas Neue";
  text-transform: uppercase;
}
.journey-roadmap .completed h3,
.journey-roadmap .ongoing h3 {
  color: #b026ff;
}
.journey-roadmap .box p {
  margin: 0 0 10px 0;
  color: #fff;
  font: 18px / 18px GothamPro-Regular;
}
.journey-roadmap .box p b {
  font-family: GothamPro-Bold;
}
.journey-roadmap .box p .green-text {
  color: #0affa7;
  display: block;
  line-height: 27px;
}
.journey-roadmap .box a.link {
  color: #fff;
  font: 18px / 18px GothamPro-Regular;
  text-decoration: underline;
  margin-bottom: 10px;
  display: inline-block;
}
.journey-roadmap .box > a:hover,
.journey-roadmap .box > a:focus,
.journey-roadmap .box > a:active {
  color: #fff;
  text-decoration: underline;
}
.journey-roadmap .stage-wrapper {
  height: 130px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.journey-roadmap .stage-wrapper .stage-box {
  position: relative;
  left: auto;
  transform: translateX(0);
  z-index: 3;
  margin-bottom: 35px;
}
.journey-roadmap .stage-wrapper .stage-v-line {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 6px;
  height: calc(100% + 15px);
  background: #a3a2a2;
  z-index: 2;
}
.journey-roadmap .stage-wrapper.completed .stage-v-line {
  background: #01d2ff;
}
.journey-roadmap .box .text-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.journey-roadmap .box .text-box {
  flex: 1;
  max-width: 222px;
  min-width: 205px;
}
.journey-roadmap .box .text-box:last-child {
  padding-left: 20px;
}
.journey-roadmap .box .text-box p.ttu {
  text-transform: uppercase;
}
.journey-roadmap .box .second .text-box {
  min-width: 172px;
  max-width: 200px;
}
.journey-roadmap .box .text-box p {
  margin: 0;
}
.journey-roadmap .box .placeholder-img {
  display: inline-block;
  max-width: 100%;
}

.journey-section .bottom-wrapper {
  padding: 0 0 110px 0;
  max-width: 780px;
  margin: 0 auto;
}
.journey-section .bottom-wrapper h5 {
  position: relative;
  padding-left: 17px;
  margin: 0 0 15px 0;
  color: #b026ff;
  font: 14px / 14px GothamPro-Regular;
}
.journey-section .bottom-wrapper h5 svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 11px;
  display: block;
}
.journey-section .bottom-wrapper p {
  margin: 0 0 80px 0;
  color: #fff;
  font: 14px / 14px GothamPro-Regular;
  padding-left: 17px;
}

@media only screen and (max-width: 767px) {
  .journey-banner {
    padding: 163px 0 70px 0;
  }
  .journey-banner h1 {
    font-size: 66px;
    line-height: 99px;
    margin-bottom: 10px;
  }
  .journey-banner h2 {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  .journey-roadmap {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 60px auto;
    padding-top: 125px;
  }
  .journey-roadmap .round-v-line {
    left: 21px;
    transform: translateX(0);
    top: 119px;
    height: calc(100% - 169px);
  }
  .journey-roadmap .journey-row {
    flex-direction: column;
  }
  .journey-section .journey-top-bg,
  .journey-section .journey-bottom-bg {
    height: 886px;
  }
  .journey-roadmap .box h3 {
    font-size: 35px;
  }
  .journey-roadmap .left {
    text-align: left;
  }
  .journey-roadmap .has-content {
    padding: 0 0 55px 95px;
  }
  .journey-roadmap .right .circle {
    left: 28px;
  }
  .journey-roadmap .left .circle {
    right: auto;
    left: 28px;
  }
  .journey-roadmap .right .v-line {
    left: 38px;
  }
  .journey-roadmap .left .v-line {
    right: auto;
    left: 38px;
  }
  .journey-roadmap .right .h-line {
    left: 41px;
  }
  .journey-roadmap .left .h-line {
    right: auto;
    left: 41px;
  }
  .journey-roadmap .stage-wrapper .stage-v-line {
    left: 38px;
    transform: translateX(0);
  }
  .journey-roadmap .stage-wrapper {
    align-items: flex-start;
    height: 140px;
  }
  .journey-roadmap .box .text-wrapper {
    flex-direction: column;
    justify-content: flex-start;
  }
  .journey-roadmap .box .text-box:last-child {
    padding-left: 0;
  }
  .journey-section .bottom-wrapper {
    padding-bottom: 60px;
  }
  .journey-section .bottom-wrapper p {
    margin-bottom: 50px;
  }
}

/* FAQ Page CSS */

.faq-section {
  padding: 8em 0 150px 0;
}
.faq-section .faq-inner {
  max-width: 70%;
  margin: 0 auto;
}
.faq-section h1 {
  text-align: center;
  margin: 0 auto 80px auto;
  font: 86px / 129px "Bebas Neue";
  color: #b026ff;
}
.faq-section .faq-banner {
  display: block;
  max-width: 484px;
  width: 100%;
  margin: 0 auto 25px auto;
}

.faq-section .question-box {
  padding-bottom: 30px;
}
.faq-section .btn-question {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid #1d1d1d;
  border-radius: 2px;
  background: #1d1d1d;
  font: 22px / 32px "Sansation Regular", arial;
  background: #1d1d1d;
  color: #ededed;
  transition: all 0.3s ease-in;
}
.faq-section .btn-question:hover {
  background: #0e2331 !important;
  color: #ededed;
  box-shadow: 0 0px 32px 0 rgb(34 183 143 / 50%);
  border-color: #14c2a3;
  border: 2px solid #14c2a3;
}
.faq-section .btn-question.collapsed {
  background: transparent;
  color: #999999;
}
.faq-section .btn-question.collapsed:hover {
  background: #1d1d1d;
  color: #ededed;
}
.faq-section .btn-question .arrow {
  margin-left: 25px;
  display: block;
  height: 10px;
  transform-origin: center center;
  transform: rotate(180deg);
  transition: all 0.3s ease-in;
}
.faq-section .btn-question.collapsed .arrow {
  transform: rotate(0deg);
}
.faq-section .btn-question span {
  text-align: left;
}
.faq-section .answer {
  padding: 20px 5px 20px 5px;
}
.faq-section .answer p {
  margin: 0;
  color: #ededed;
  font: 18px / 26px "Sansation Regular", arial;
}
.faq-section .answer p.mb {
  margin-bottom: 17px;
}
.faq-section .answer p.mb-10 {
  margin-bottom: 10px;
}
.faq-section .answer ul {
  margin: 0 0 20px 0;
  padding: 0 0 0 20px;
  color: #ededed;
}

.faq-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Team Title Texts */

.gallery-text-wrapper {
  max-width: 700px;
  margin: 0 auto 100px auto;
  padding: 0 20px;
}
.gallery-text-wrapper h1 {
  /* margin: 0 0 25px 0;
  color: #ffe600;
  text-align: center;
  font: 32px / 46px GothamPro-Medium; */
  text-align: center;
  margin: 0px 0 3px 0;
  font: 86px / 129px "Bebas Neue";
  color: #b026ff;
}
.gallery-text-wrapper p {
  margin: 0;
  text-align: center;
  color: #c0c0c0;
  text-transform: uppercase;
  font: 20px / 29px "Sansation Regular", arial;
}
.gallery-text-wrapper p b {
  font-family: "Sansation Regular", arial;
  color: #fff;
}

@media only screen and (min-width: 1510px) {
  .rebirth-section .rebirth-img,
  .evolve-wrapper .evolve-img,
  .unite-wrapper .unite-img,
  .gallery-wrapper .gallery-img {
    max-width: 1500px;
  }
}

@media only screen and (max-width: 991px) {
  /* .mint-row .countdown {
		display: none;
	}
	.mint-row .btn-mint {
		margin-left: 0;
	} */
}

@media only screen and (max-width: 767px) {
  .mint-row {
    padding: 15px 15px;
  }
  .mint-row .mint-inner {
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  .mint-row .left {
    display: none;
  }
  .mint-row .right-outer {
    width: 100%;
    max-width: 355px;
  }
  .mint-row .right {
    padding: 15px 110px 18px 15px;
    /* justify-content: center; */
  }

  .mint-row .countdown > div {
    flex-shrink: 0;
    margin-right: 10px;
  }
  .mint-row .btn-mint {
    /* margin-left: 22px; */
    /* margin-left: 0px; */
    text-transform: unset;
    font-size: 14px;
  }
  .mint-row .right .mint-avatars {
    width: 100px;
  }
  .character-section {
    padding: 90px 0 47px 0;
    overflow: hidden;
    height: auto;
  }
  .mint-date-mobile {
    padding: 0 15px;
  }
  .mint-date-mobile .mint-mobile {
    margin: 0 auto;
    max-width: 306px;
  }
  .home-about {
    padding-top: 55px;
    padding-bottom: 90px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .home-about h1 {
    line-height: 35px;
  }

  .gallery-avatar-wrapper {
    margin-top: 60px;
  }
  .gallery-avatar-wrapper .gallery-row.second {
    transform: translateX(-12.5%);
  }
  .gallery-avatar-wrapper .gallery-row > img {
    width: 25%;
  }
  .gallery-text-wrapper {
    margin-top: 80px;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 500px) {
  .gallery-avatar-wrapper .gallery-row.second {
    transform: translateX(-25%);
  }
  .gallery-avatar-wrapper .gallery-row > img {
    width: 50%;
  }
  .faq-section .faq-inner {
    max-width: 90%;
  }
  .team-section .team-box {
    margin: 0 10px 100px 10px;
    padding: 15px;
  }
}

/* About Section */

.about-us {
  padding: 8em 0 4em;
}

.about-us h1 {
  text-align: center;
  margin-bottom: 1em;
  font: 86px / 129px "Bebas Neue";
  color: #b026ff;
}

#aboutCarousel .carousel-inner {
  width: 80%;
}

.carousel-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us .carousel-item-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-us .about-image {
  width: 60%;
  padding: 0 30px;
}
.about-us .about-image img {
  width: 100%;
}
.about-us .about-content {
  width: 40%;
  color: #fff;
  font-size: 18px;
  font-family: "Sansation Regular", arial;
}

@media only screen and (max-width: 500px) {
  #aboutCarousel .carousel-inner {
    width: 100%;
    padding: 0 10%;
  }
  .about-us .carousel-item-card {
    display: block;
  }
  .about-us .about-image {
    width: 100%;
  }
  .about-us .about-content {
    width: 100%;
  }
}

.tf-title h1 {
  text-align: center;
  margin: 0 0 3px 0;
  font: 86px / 129px "Bebas Neue";
  color: #b026ff;
}
